.contact {
  --border-radius: 1.25rem;
  background: linear-gradient( to right ,var(--gradients-light-violet),var(--gradients-light-magenta));
  border-top-right-radius: var(--border-radius);
  border-top-left-radius: var(--border-radius);
  padding: 1rem;
  color: var(--secondary-white);

  &__name {
    margin: 0;
  }
  &__state {
    margin: 0;
  }
}