.input {
  background-color: var(--secondary-white);
  padding: .75rem 0;
  padding-left: 1.25rem;
  width: calc(100% - 2.25rem);
  margin: .75rem auto;
  border-radius: 1rem;
  font-size: .55rem;
  color: var(--primary-text-grayish-blue);
}